flyway.url=~~~databaseUrl~~~
flyway.user=~~~databaseSchemaOwner~~~
flyway.password=~~~databasePassword~~~
flyway.cleanDisabled=~~~flywayDisallowClean~~~
flyway.locations=filesystem:~~~databaseOwnerConfigLocation~~~

flyway.placeholderReplacement=true
flyway.baselineOnMigrate=true
flyway.table=schema_version_cue
flyway.ignoreMissingMigrations=true
